<div class="container bg-warning">
    <i class="fas fa-hamburger fa-10x d-flex justify-content-center"></i>
    <h1 class="text-danger text-center">Burger Eater!</h1>
    {{!-- Main section that contains burgers and burgers eaten --}}
    <main class="container">
        <div class="row">
            {{!-- Column for burgers to eat --}}
            <section class="col-sm">
                <div class="card bg-warning border border-danger m-3">
                    <div class="card-body">
                        <h2 class="card-title text-center">Burgers to Eat</h2>
                        <ul>
                            {{#each burgers}}
                            {{#unless devoured}}
                            <li class="m-1 d-flex justify-content-center">
                                {{burger_name}}
                                <button class="btn btn-danger ml-3 eat-btn" data-id="{{id}}">
                                    EAT
                                </button>
                            </li>
                            {{/unless}}
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </section>
            {{!-- Column for burgers eaten --}}
            <section class="col-sm">
                <div class="card bg-warning border border-danger m-3">
                    <div class="card-body">
                        <h2 class="card-title text-center">Burgers Eaten</h2>
                        <ul>
                            {{#each burgers}}
                            {{#if devoured}}
                            <li class="m-1 d-flex justify-content-center">
                                {{burger_name}}
                            </li>
                            {{/if}}
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </section>
        </div>
    </main>
    {{!-- Section for adding a burger --}}
    <section class="card bg-warning border border-danger m-3">
        <div class="card-body">
            <h2 class="card-title text-center">Add a Burger</h2>
            <form class="create-form d-flex justify-content-center">
                <div class="form-group">
                    <label for="newBurger">Burger Name:</label>
                    <input type="text" id="newBurger" name="name">
                </div>
                <button class="btn btn-danger ml-3" type="submit">Add Burger</button>
            </form>
        </div>
    </section>
</div>